body,html {
	width: 100%;
	height: 100%;
	margin: 0;
	display: block;
}

.wrapper {
	min-height: 100%;
}

.wrapper:after {
	content: "";
	display: block;
	height: 50px;
} 

body {
	background: #f6f6f6;
}

ul {
	padding: 0;
	margin: 0;
}

li{
	list-style: none;
}