body,html {
	width: 100%;
	height: 100%;
	margin: 0;
	display: block;
}

body {
	background: #f6f6f6;
}


.wrapper {
	min-height: 100%;
}

.wrapper:after {
	content: "";
	display: block;
	height: 50px;
} 

.container {
	width: 980px;
	padding: 0 20px;
	margin: 0 auto;
}

ul {
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
}

.clearfix:after {
  content: " ";
  clear: both;
  display: table;
}